*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
body
{
    color: #d11d1d;
}
.header
{
    position: relative;
    float: left;
    width: 100;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: centre;
    z-index: 100;
}
.logo {
    position: relative;
    font-size: 25 px;
    color: #fff;
    text-decoration: none; 
    font-weight: 600;
}
.more{
 color:greenyellow;
}
    
.navbar a {
    display: inline-block;
    font-size: 25 px;
    color: #273286;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
}
.navbar a:hover{
    color: #0ef
}
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(images/imagecode.webp) no-repeat;
    background-size: cover;
    background-position: centre;
    display: flex;
    align-items: centre;
    padding: 70px 10% 0;
}
.home-content {
    max-width: 600px;
    
} 
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
 


}.home.content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    

}
.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: BLUE;
  }
  
  .all-browsers > h1, .browser {
    margin: 10px;
    padding: 5px;
  }
  
  .browser {
    background: rgb(193, 61, 61);
  }
  
  .browser > h2, p {
    margin: 4px;
    font-size: 90%;
    
  }
  
  footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: #ffffff;
  }
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea ,input[type=tel],input[type=email]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.active-link{
  color: DarkSalmon !important;
}